*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: aqua; */
}
.nav-left{
    width: 17%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    /* background-color: #e4dfdf; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;

}
.home h1 a{
    text-decoration: none;
    color: #333232;
}
.home svg {
  width: 23px;
  height: 26px;
  cursor: pointer;
}

.nav-left-Home {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-left img {
  width: 150px;
  height: 80px;
}

.home {
  height: 50px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.home:hover {
  cursor: pointer;
  background-color: #e4dfdf;
  border-radius: 10px;
}

.home h1 {
  font-size: 15px;
  font-weight: 600;
  color: #333232;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home img {
  width: 28px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.container-wrap{
    width: 80%;
    border-left: 1px solid #ccc;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding:10px;
    flex-direction: column;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center
}
.profile{
    width: 100%;
    height: 200px;
    display: flex;
    /* background-color: antiquewhite; */
}
.profile-image img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.profile-image h1{
    display: none;
}
.profile-content{
    width: 100%;
    /* height: 100%; */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 0;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.first{
    width: 100%;
    padding: 10px;
    /* height: 100%; */
    height: auto;
    gap: 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
}
.first svg{
    width: 25px;
    height: 26px;
    cursor: pointer;
}
.first h1{
    font-size: 20px;
    font-weight: 600;
    color: #333232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    width: 100px;
    height: 30px;
    background-color: #ddd7d7;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: #cac8c8;
}
.second{
    width: 100%;
    padding: 10px;
    /* height: 100%; */
    height: auto;
    gap: 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
}
.second h1{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #333232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.third{
    width: 100%;
    padding: 10px;
    /* height: 100%; */
    height: auto;
    gap: 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
}
.third h1{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #333232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.third a{
    text-decoration: none;
    /* text-align: center/; */
    color: #333232;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 1px solid #333232;
}
.Create{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    text-align: center;
    justify-content:center;
    margin: 0 auto;
}
.Create-item{
    width: 150px;
    height: auto;
}

.Create svg{
    width: 90px;
    /* padding: 10px; */
    height: 90px;
    cursor: pointer;
    fill: #8d8a8a;
    background-color: #dad4d4;
    border-radius: 50%;
}
.Create h1{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #333232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-videos{
    width: 100%;
    height: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    /* flex-direction: column; */
    /* background-color: #cac8c8; */
}
.tabs input[type="radio"] {
      display: none;
}
.tabs {
    width: 100%;
    /* background-color: #333; */
}

/* .container-tabs{
    width: 100%;
    height: 10;
    background-color: #cac8c8;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
} */
.tab-label {
    margin-left: 100px;
      display: inline-block;
      padding: 10px 20px;
      background: #eee;
      margin-right: 20px;
      margin-top: 10px;
      cursor: pointer;
      /* border: 1px solid #ccc; */
}

.tabs input[type="radio"]:checked + .tab-label {
      background: #333;
      color: white;
}

.tab-content {
      display: none;
      /* border: 1px solid #ccc; */
      padding: 10px;
      margin-top: 10px;
      /* display: flex; */
}
.content-video img{
    width: 300px;
    height: 400px;
}

footer{
    display: none;
}
#tab-all:checked ~ .content-video #post,
#tab-all:checked ~ .content-video #reels {
      display: block;
}

#tab-post:checked ~ .content-video #post {
      display: block;
}

#tab-reels:checked ~ .content-video #reels {
      display: block;
}
.reel-videos{

 
}

.reel video {
      width: 100%;
      height: 100%;
      object-fit: contain;
}
.reel{
  background: #000;
    width: 330px;
    height: 80vh;
    gap: 20px;
    display: flex;
      /* background-color: aliceblue; */
      /* margin-bottom: 40px; */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
}
.content-reel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    /* flex-wrap: ; */
}
@media (max-width: 768px) {
    .nav-left{
        display: none;
    }
    .container-wrap{
        width: 100%;
    }
    .profile{
        width: 100%;
        height: 150px;
        display: flex;
        /* background-color: antiquewhite; */
    }
    .profile-image img{
        width: 100px;
        height: 100px;
        /* border-radius: 50%; */
        /* margin: 20px; */
    }

    .first button{
        display: none;
    }
    .first{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .third{
        display: none;
    }
    .profile-image h1{
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: #333232;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .profile-image{
        width: 100%;
        height: auto;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    .Create{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        
    }
    .Create-item{
        width: 100px;
        height: 100px;
        display: flex;
        margin: 0 ;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        /* margin: 0 auto; */
    }
    .Create-item svg{
        width: 60px;
        height: 60px;

    }
    .Create-item h1{
        font-size: 15px;
    }
    .tabs{
        width: 100%;
        height: auto;
        
    }
    .tab-label{
        width: auto;
        /* display: flex;
        flex-direction: row; */
        margin-left: 30px;
        padding: 15px;
    }
    .container-videos{
        width: 100%;
        height: 100%;
    }
    .content-video{
        width: 100%;
        height: auto;
    }
    .tab-content{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }
    .tab-content img{
        width: 120px;
        height: 180px;
        object-fit: fill;
    }
    .content-reel{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .reel{
        width: 110px;
        height: 170px;
    }
    .reel-videos{
        width: 100px;
        height: 200px;
        /* padding: 2px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 10px; */
    }
    footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #eeeff0a9;
    position: fixed;
    bottom: 0;
    /* top: 1px; */
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    
  }
  .footer-icon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  .footer-icon svg{
    width: 35px;
    height: 30px;
    /* margin-right: 20px; */
  }
  .footer-icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin-right: 20px; */
  }
}